<app-header></app-header>

<section class="editar-opciones">
<nav class="nav-lateral">
    <a [routerLink]="['/editar-perfil']"><strong>Editar perfil</strong><h3></h3></a>
    <a [routerLink]="['/cambiar-contra']">Cambiar Contraseña</a>
    <a [routerLink]="['/notificaciones']">Notificaciones push</a>
    <a [routerLink]="['/privacidad']">Privacidad y seguridad</a>
</nav>
<form class="container" (ngSubmit)="guardar()" #newUserForm="ngForm">
<div class="cambiar-datos">
    <div class="input-info">
        <img [src]="user.img">
        <a id="cambiar-foto">Cambiar foto de perfil</a>
    </div>
    <div class="division-datos">
        <section class="input-user">
        <div class="input-info">
            <label>Nombre</label>
            <input placeholder="{{ user.firstName}}">
        </div>
            <div class="input-info">
                <label >Apellido</label>
                <input class="style-apellido" placeholder="{{ user.lastName }}">
            </div>
        <div class="input-info">
            <label>Usuario</label>
            <input placeholder="@{{ user.username }}">
        </div>
        <div class="input-info">
            <label class="otro-margin">Ocupación</label>
            <input placeholder="{{ user.occupation }}">
        </div>
        <div class="input-info">
            <label class="otro-margin">Correo
                <br>electrónico</label>
            <input placeholder="{{ user.email }}">
        </div>
        <div class="input-info">
            <label class="biografia">Biografía</label>
            <input id="biografia" placeholder="{{ user.biography }}">
        </div>
        </section>
        <section>
            <p>El nombre con el que te conoce 
                la mayor cantidad de personas, 
            asi podrán encontrarte en la red.</p>
        </section>
    </div>
    <div class="opciones">
        <button id="eliminar-cuenta">Eliminar cuenta</button>
        <div class="modal-container" id="modal-container">
            <div class="modal">
                <p>¿Estás segur@ que quieres eliminar tu cuenta?</p>
                <label>Colocar contraseña para confirmar</label>
                <input>
                <a (click)="eliminarCuenta()" id="eliminar">Eliminar</a>
            </div>
        </div>
        <button>Guardar</button>
    </div>
</div>
</form>
</section>