<div class="encabezado">
    <h1>Fashion Hunter</h1>
</div>

<div class="switch-password">
    <h3>Por favor ingresa tu nueva contraseña</h3>
    <form #f="ngForm" (ngSubmit)="onReset()" class="switch-password form" method="post">
        <div class="form-group">
        <input type="password" name="password" id="password" 
         placeholder="Nueva contraseña" [(ngModel)]="password" required>
        <br>
        <input type="password" name="passwordConfirm" id="passwordComfirm"
         placeholder="Confirma tu contraseña" [(ngModel)]="passwordConfirm" required>
        <br>
        <button class="btn btn-success" [disabled]="!f.valid" type="submit" id="change-password"
         >Cambiar contraseña</button>
        </div>
    </form>
</div>