<div class="confirm-email">
    <h3>Tu email es: user email ?</h3>
    <button (submit)="sendEmail()">SI</button> <button>NO</button>
    <h2>Por favor verifica tu email</h2>
</div>

<div class="new-password">
    <form class="form" method="post">
        <input type="password" name="new-password" placeholder="Nueva contraseña" required>
        <br>
        <input type="password" name="new-password" placeholder="Confirma tu contraseña" required>
        <br>
        <button class="btn btn-success" type="submit" id="login-button" [routerLink]="['/login']">Check</button>
    </form>
</div>
